<div class='container'>
  <div class='row'>
    <h3 class="col-8 my-3 ">商品一覧</h3>
    <i class='col-4 my-3 text-right'><%= link_to '', new_admin_item_path, class: "fas fa-plus-circle text-right" %></i>
  </div>
  <table class='table table-hover'>
  　<thead>
    <tr>
      <th class="col-1">商品ID</th>
      <th class="col-3">商品名</th>
      <th class="col-2">税抜価格</th>
      <th class="col-2">ジャンル</th>
      <th class="col-2">販売ステータス</th>
    </tr>
    </thead>
    <tbody>
    <% @items.each do |item| %>
    　<tr>
        <td><%= item.id %></td>
        <td><%= link_to item.item_name, admin_item_path(item) %></td>
        <td><%= (item.price).to_s(:delimited) %></td>
        <td><%= item.genre.genre_name %></td>
        <td>
        　<% if item.is_status == true %>
        　販売中
          <% else %>
          販売停止中
          <% end %>
      　</td>
      </tr>
    <% end %>
    </tbody>
  </table>
<%= paginate @items %>
</div>