<h1>商品詳細</h1>
<%= attachment_image_tag @item, :image, :fill,300,200  %>
<p>商品名</p>
<%= @item.item_name %>
<p>商品説明</p>
<%= @item.introduction %>
<p>ジャンル</p>
<%= @item.genre.genre_name %>
<p>税込価格（税抜価格）</p>
<p><%= @item.add_tax_price.to_s(:delimited) %> (<%= @item.price.to_s(:delimited) %>)円</p>
<p>販売ステータス</p>
<% if @item.is_status == true %>
  <p>販売中</p>
<% else %>
  <p>販売停止</p>
<% end %>


<%= link_to "編集する", edit_admin_item_path(@item) %>