<div class="container">
    <h3 class="my-3">会員一覧</h3>
    <table class="table table-hover">
      <tr>
        <th>会員ID</th>
        <th>氏名</th>
        <th>メールアドレス</th>
        <th>ステータス</th>
      </tr>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.id %></td>
        <td>
          <%= link_to admin_customer_path(customer.id) do %>
            <%= customer.full_name %>
          <% end %>
        </td>
        <td><%= customer.email %></td>
        <td>
        <%if customer.is_deleted %>
            <p class="text-danger">退会</p>
        <% else %>
            <p class="text-success">有効</p>
        <% end %>
        </td>
      </tr>
    <% end %>
    </table>
  <%= paginate @customers %>
</div>