<div class='container'>
  <h3 class="my-3">注文履歴詳細</h3>
  <div class="row">
    <table class="table table-borderless">
　    <tr>
        <th>購入者</th>
        <td><%= @order.customer.last_name %><%= @order.customer.first_name %></td>
      </tr>
      <tr>
        <th>注文日</th>
        <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
      </tr>
      <tr>
        <th>配送先</th>
         <td>〒<%= @order.ship_post_code %><%= @order.ship_to_address %><br><%= @order.ship_name %></td>
      </tr>
      <tr>
        <th>注文ステータス</th>
        <td><%= form_with model: [:admin, @order], local: :true do |f| %>
            <%= f.select :order_status, Order.order_statuses.keys.map { |k| [I18n.t("enums.order.order_status.#{k}"), k]},class: "prefecture-select " %>
            <%= f.submit '更新', class: "btn btn-success " %>
            <% end %>
        </td>
      </tr>
      <tr>
        <th>支払い方法</th>
        <td><%= @order.payment_method_i18n %></td>
      </tr>
    </table>
  </div>
  <div class="row">
    <div class="col-8">
      <table class="table table-hover">
        <tr>
          <th>商品名</th>
	        <th>単価(税込)</th>
	        <th>数量</th>
	        <th>小計</th>
	        <th>制作ステータス</th>
	        <th></th>
        </tr>
        <% @order.order_items.each do |order_item| %>
        <tr>
	        <td><%= order_item.item.item_name %></td>
	        <!--delimitedは３桁で区切る-->
	        <td><%= ((order_item.item.price * 1.1).floor).to_s(:delimited) %></td>
	        <td><%= order_item.quantity %></td>
	        <td><%= (((order_item.item.price * 1.1).floor) * order_item.quantity).to_s(:delimited) %></td>
          <td>
	          <%= form_with model: order_item, url: admin_order_order_item_path(@order,order_item), local: true do |f| %>
	          <%= f.select :sales_order_status, OrderItem.sales_order_statuses.keys.map { |k| [I18n.t("enums.order_item.sales_order_status.#{k}"), k] }, class:"form-control form-control-sm col-6" %>
          </td>
          <td><%= f.submit '更新', class: "btn btn-success " %><% end %></td>
        </tr>
        <% end %>
      </table>
    </div>
    <div class="col-3 table table-borderless mt-5 ml-5">
      <table>
        <tr>
          <th>商品合計</th>
          <td><%= (@order.total_due - @order.freight).to_s(:delimited) %>円</td>
        </tr>
        <tr>
          <th>送料</th>
          <td><%= @order.freight %>円</td>
        </tr>
        <tr>
          <th>請求合計</th>
          <td><%= (@order.total_due).to_s(:delimited) %>円</td>
        </tr>
      </table>
    </div>
  </div>
</div>
