<h5>注文情報確認</h5>
<table>
  <thead>
    <tr>
      <td>商品名</td>
      <td>単価（税込）</td>
      <td>数量</td>
      <td>小計</td>
    </tr>
  </thead>
  <tbody>
    <% @cart_items.each do |cart| %>
    <tr>
      <td><%= cart.item.name %></td>
      <td><%= cart.item.add_tax_price %></td>
      <td><%= cart.item.quantity %></td>
      <td><%= (cart.item.add_tax_price*cart.item.quantity) %></td>
    </tr>
    <% end %>
  </tbody>
</table>


<p>ご請求金額</p>
<%= @total_price %>

<p>お届け先</p>
<%= @order.address %>

<%= form_with model: @order, url: orders_path, method: :post, local: true do |f| %>
  <%= f.hidden_field :name %>
  <%= f.hidden_field :address %>
  <%= f.hidden_field :total_price, value: @total %>
  <%= f.submit "注文を確定する" %>
<% end %>

