<h5>注文情報確認</h5>
<table>
  <thead>
    <tr>
      <td>商品名</td>
      <td>単価（税込）</td>
      <td>数量</td>
      <td>小計</td>
    </tr>
  </thead>
  <tbody>
    <% @cart_items.each do |cart| %>
    <tr>
      <td><%= cart.item.item_name %></td>
      <td>¥ <%= (cart.item.add_tax_price).to_s(:delimited) %></td>
      <td><%= cart.quantity %></td>
      <td><%= ((cart.item.price * 1.1).floor * cart.quantity).to_s(:delimited) %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<p>送料</br>
<%= @order.freight %></p>
<p>商品合計</p>
<%= @total_price.to_s(:delimited) %>
<p>ご請求金額</p>
<%= ((@total_price) + (@order.freight)).to_s(:delimited) %>
<p>支払い方法</p>
<%= @order.payment_method_i18n %>


<p>お届け先</p>
<%= @order.ship_to_address %>

<%= form_with model: @order, url: orders_path, method: :post, local: true do |f| %>
  <%= f.hidden_field :ship_name, value: @order.ship_name %>
  <%= f.hidden_field :ship_to_address, value: @order.ship_to_address %>
  <%= f.hidden_field :ship_post_code, value: @order.ship_post_code %>
  <%= f.hidden_field :payment_method, value: @order.payment_method %>
  <%= f.hidden_field :total_due, value: @order.total_due %>
  <%= f.hidden_field :order_status, value: @order.order_status %>
  <%= f.hidden_field :freight, value: @order.freight %>
  <%= f.submit "注文を確定する" %>
<% end %>

