<div class="container px-5 px-sm-3 mt-5">
   <div class="row">
    <div class="col-md-2">

          <!--render(ジャンル)-->
          <%= render 'public/homes/genres', genres: @genres %>
      </div>

    <div class="col-md-5">
    <%= attachment_image_tag @item, :image, :fill, 350, 250, fallback: "no_image.jpg", class:"rounded" %>
  </div>

    <div class="col-md-5">
    <h2><%= @item.item_name %></h2>
    <p><%= @item.introduction %></p>
    <p>¥ <%= @item.add_tax_price %>(税込)</p>

    <% if customer_signed_in? %>
      <% unless @item.is_status == false %>
        <%= form_with url: cart_items_path, model: @cart_item, method: :post, local: true do |f| %>
          <%= f.select :quantity, [*1..10], selected: 1 %>
          <%= f.hidden_field :item_id, value: @item.id %>
          <%= f.hidden_field :customer_id, value: current_customer.id %>
          <%= f.button :type => 'submit', class:"btn btn btn-success px-4 ml-3" do %>
            <i class="fas fa-cart-plus"></i> カートに入れる
          <% end %>
        <% end %>
      <% else %>
        <h4>申し訳ありません。販売中止中です</h4>
      <% end %>
    <% end %>
  </div>



</div>
</div>